@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

body{
   
    margin: 0;
    padding: 0;
   /* font-family: sans-serif;*/
 /*font-family: 'Permanent Marker', cursive;*/
 font-family: 'Castoro', serif;
background: url("https://scontent.famm3-3.fna.fbcdn.net/v/t1.15752-9/130868616_143500423893042_1910089226623863756_n.jpg?_nc_cat=101&ccb=2&_nc_sid=ae9488&_nc_eui2=AeHghj2aEK7g029s68r90th6Iu_BQgHpHbgi78FCAekduF2SGuH8e7HLrzz-ahtxw-vWTZ0liMLp9bEBDEmWeDlZ&_nc_ohc=VEhKwy2Rl3AAX9rTrWg&_nc_ht=scontent.famm3-3.fna&oh=7324aa0aa164a6b9bb6583f1b9140194&oe=5FF5357E") no-repeat;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

.login-box{
/*width: 120px;*/
width: 300px;
padding: 20px;
text-align: center;
position: absolute;
top: 50%; 
left: 50%;
transform:translate(-50%,-50%) ;
color: tomato;

}
.login-box h1{

    font-size: 40px;
    border-bottom:3px solid ;
    margin-bottom: 30px;
    padding: 10px 0 ;
}
.textbox{
width: 100%;
overflow: hidden;
font-size: 20px;
padding: 8px 0;
margin: 8px 0;
border-bottom: 1px solid;


}
.textbox i{

width: 26px;
float: left;
text-align: center;

}
.textbox input{
    
border: none;
outline: none ;
background: none;
color: rgb(75, 70, 70);
font-size: 18px;
width: 120px;
float: left;
margin:0 10px ;
}
.button {
width: 100%;
background: none;
border: 2px solid;
color: tomato;
padding: 5px;
font-size: 18px;
cursor: pointer;
margin: 12px 0;



}
